<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hacksc2015.myapplication">

    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pic This!"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GuessActivity"
            android:label="@string/title_activity_make_guess"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MAKE_A_GUESS" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="@string/title_activity_friends"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="FRIENDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToDoActivity"
            android:label="@string/title_to_do_activity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="TO_DO_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
